* {
    font-family: Arial, Helvetica, sans-serif;
}

/* homepage */

.home-header {
    background-color: pink;
    text-align: center;
}

.recipe-list {
    background-color: rgb(255, 212, 255);
}

/* recipe pages */

.recipe-picture {
    height: auto;
    width: 350px;
}

.pre-main-body {
    background-color: rgb(255, 236, 240);
}

.whole-recipe-body {
    background-color: rgb(248, 212, 218);
}

.recipe-steps {
    background-color: rgb(255, 179, 191);
}